# Ignore all datasets

# Ignore virtual environments
sionna_env/
cudnn-linux-x86_64-8.9.7.29_cuda12-archive
drjit
plugins
NVIDIA-OptiX-SDK-8.1.0-linux64-x86_64
NVIDIA-OptiX-SDK-9.0.0-linux64-x86_64
# Ignore Python cache
__pycache__/
*.pyc

# Ignore large files
*.h5
*.log
*.xlsx  # Ignore all Excel files
*.npy
*.npz
.codegpt
*.index
*.pb
*.env
*.jsonsrc/cudnn-linux-x86_64-8.9.7.29_cuda12-archive/
*.so
*.a
*.run
*.deb
*.sh
*.xz
*.json